config/*
vendor/*
config/database.php
config/app.php
config/debugbar.php
config/microweber.php
storage/cache/*
cache/.htaccess
cache/*
old_mw/
phpinfo.php
.idea
.settings
.env
dwsync.xml
/storage
/storage/.gitignore
/storage/.htaccess
/storage/app/.gitignore
/storage/framework/.gitignore
/storage/framework/cache/.gitignore
/storage/framework/sessions/.gitignore
/storage/framework/views/.gitignore
/storage/logs/.gitignore
node_modules/
/.settings
/.project
/phpunit.phar
/run-build.sh
/phpunit-5.7.27.phar
/bootstrap/cache/*
/webpack/dist/*
/.rnd
config/app.php
config/database.php
bootstrap/cache/services.8.32.1.php
bootstrap/cache/packages.8.32.1.php
bootstrap/cache/packages.8.25.0.php
bootstrap/cache/services.8.25.0.php
/standalone-update
/adminer.php
.DS_Store
.phpunit.result.cache