@media screen and (min-width: 1200px) {
  /*liveetit css ( works only in live edit )*/
  .mw-live-edit .mw-nav-menu-transparent-with-image {
    top: 55px; }
    .mw-live-edit .mw-nav-menu-transparent-with-image .header-background {
      transition: all 0.5s ease;
      background: transparent; }

  .navigation-holder.not-transparent {
    transition: all 0.5s ease; }

  .mw-nav-menu-not-transparent {
    opacity: 1;
    background-color: var(--headerBg); }

  .mw-nav-menu-transparent-with-image {
    transition: all 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: transparent; }
    .mw-nav-menu-transparent-with-image .header-background {
      transition: all 0.5s ease;
      background: transparent; }

  .navigation-holder.not-transparent.scrolled {
    background-color: var(--headerBg);
    box-shadow: 0px 0px 4px -2px grey;
    border-bottom: none;
    transition: all 0.5s ease; }
    .navigation-holder.not-transparent.scrolled .module-menu ul li a {
      color: var(--menuColor) !important; }
    .navigation-holder.not-transparent.scrolled .navbar .logo-text {
      color: var(--menuColor) !important; }
    .navigation-holder.not-transparent.scrolled .header-background {
      transition: all 0.5s ease;
      background-color: var(--headerBg); } }
.price-lists-7 .card {
  border: none;
  padding: 10px; }
.price-lists-7 .card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
.price-lists-7 .card:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
.price-lists-7 .card:hover::after {
  opacity: 1; }
.price-lists-7 .card-title {
  font-size: 36px; }

.discount-label {
  position: absolute;
  top: 0;
  border: 1px solid #ed1c24;
  display: inline-block;
  text-align: center;
  z-index: 1; }

.discount-percentage {
  padding: 0.3rem 0.8rem;
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  background: #fff;
  color: black; }

.discount-label-text {
  padding: 0.3rem 0.8rem;
  background: #ed1c24;
  display: block;
  color: #fff;
  font-size: .7rem;
  font-weight: 500; }

.guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
  font-size: 48px; }
  @media screen and (max-width: 991px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 2rem; } }
  @media screen and (max-width: 600px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 1.5rem !important; } }
  @media screen and (max-width: 400px) {
    .guesthouse-header .fx-deactivate, .guesthouse-header .fx-deactivate span {
      font-size: 1rem !important; } }
.guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
  font-size: 24px; }
  @media screen and (max-width: 991px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1.5rem; } }
  @media screen and (max-width: 600px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1.2rem !important; } }
  @media screen and (max-width: 400px) {
    .guesthouse-header .fx-deactivate-p, .guesthouse-header .fx-deactivate-p span {
      font-size: 1rem !important; } }

@media screen and (max-width: 700px) {
  #to-top {
    display: none !important; } }

@media screen and (min-width: 1360px) {
  .shop-inner-gallery .shop-inner-gallery-thumbnails {
    position: sticky;
    top: 60px;
    align-self: flex-start; } }
.video-background-skin {
  background-color: black !important; }

.navbar-light .navbar-toggler {
  border-radius: 0 !important;
  padding: 11px 15px; }

.header-menu-toggle-button {
  font-size: 1.5rem !important; }

@media screen and (max-width: 991px) {
  .header-section-title, .header-section-title span {
    font-size: 3rem; } }
@media screen and (max-width: 600px) {
  .header-section-title, .header-section-title span {
    font-size: 2.5rem !important; } }
@media screen and (max-width: 400px) {
  .header-section-title, .header-section-title span {
    font-size: 2rem !important; } }

@media screen and (max-width: 991px) {
  .header-section-p, .header-section-p span {
    font-size: 1.5rem; } }
@media screen and (max-width: 600px) {
  .header-section-p, .header-section-p span {
    font-size: 1.2rem !important; } }
@media screen and (max-width: 400px) {
  .header-section-p, .header-section-p span {
    font-size: 1rem !important; } }

[data-overlay] .background-image-holder:after {
  background-image: unset; }

.mw-big-dropdown.dropdown-menu > li > a:hover {
  background-color: var(--primaryColor) !important; }

/*# sourceMappingURL=styles-for-template.css.map */
